In [1]:
# imports
import pandas as pd

Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [9]:
yelp_df = pd.read_csv('/Users/parkerharalds/Documents/Lighthouse/Statistical_Modelling_Project/data/yelp_df.csv')
bikes_df = pd.read_csv('/Users/parkerharalds/Documents/Lighthouse/Statistical_Modelling_Project/data/city_bikes.csv')

In [10]:
yelp_df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,location.zip_code,location.country,location.state,location.display_address,attributes.business_temp_closed,attributes.menu_url,attributes.open24_hours,attributes.waitlist_reservation,price,station
0,nFxhMiWh2JRfaWW79aj66A,café-portrait-vancouver-2,Café Portrait,https://s3-media1.fl.yelpcdn.com/bphoto/mQyCTA...,False,https://www.yelp.com/biz/caf%C3%A9-portrait-va...,74.0,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.4,[],...,V6G 1T2,CA,BC,"['1120 Denman Street', 'Vancouver, BC V6G 1T2'...",NaN,NaN,NaN,False,NaN,00fa94ad698dc4a9e4d708d6fd32f294
1,vZkovAEB5N5l1ZtS6aVDnA,breka-bakery-and-cafe-vancouver-2,Breka Bakery & Cafe,https://s3-media3.fl.yelpcdn.com/bphoto/_AN_B5...,False,https://www.yelp.com/biz/breka-bakery-and-cafe...,370.0,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",3.9,[],...,V6E 1Y4,CA,BC,"['812 Bute Street', 'Vancouver, BC V6E 1Y4', '...",NaN,NaN,NaN,NaN,$,00fa94ad698dc4a9e4d708d6fd32f294

In [8]:
bikes_df.head(2)

,city,station_id,station_name,latitude,longitude,free_bikes,empty_slots
0,Vancouver,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,11,7
1,Vancouver,012d3e06901cc222b1c2cf0a2ace3a29,St George & Broadway,49.262321,-123.093060,1,13

In [11]:
#renaming station_id column for merger
bikes_df = bikes_df.rename(columns={'station_id': 'station'})

In [13]:
main_df = pd.merge(bikes_df,yelp_df,on='station')

In [19]:
#checking shape of main_df against shape of original dataframes.
print('',main_df.shape,'\n',yelp_df.shape,'\n',bikes_df.shape)

 (3864, 36)
 (3864, 30)
 (258, 7)

In [20]:
main_df.head(5)

,city,station,station_name,latitude,longitude,free_bikes,empty_slots,id,alias,name,...,location.city,location.zip_code,location.country,location.state,location.display_address,attributes.business_temp_closed,attributes.menu_url,attributes.open24_hours,attributes.waitlist_reservation,price
0,Vancouver,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,11,7,nFxhMiWh2JRfaWW79aj66A,café-portrait-vancouver-2,Café Portrait,...,Vancouver,V6G 1T2,CA,BC,"['1120 Denman Street', 'Vancouver, BC V6G 1T2'...",NaN,NaN,NaN,False,NaN
1,Vancouver,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,11,7,vZkovAEB5N5l1ZtS6aVDnA,breka-bakery-and-cafe-vancouver-2,Breka Bakery & Cafe,...,Vancouver,V6E 1Y4,CA,BC,"['812 Bute Street', 'Vancouver, BC V6E 1Y4', '...",NaN,NaN,NaN,NaN,$
2,Vancouver,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,11,7,h1vHMq39YhDrxzpwBPelOA,breka-bakery-and-cafe-vancouver-7,Breka Bakery and Cafe,...,Vancouver,V6G 2L7,CA,BC,"['821 Denman Street', 'Vancouver, BC V6G 2L7',...",NaN,NaN,NaN,NaN,NaN
3,Vancouver,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,11,7,RGCT70v8c-k6a0mwItFjGw,greenhorn-cafe-vancouver-2,Greenhorn Cafe,...,Vancouver,V6G 2C8,CA,BC,"['994 Nicola Street', 'Vancouver, BC V6G 2C8',...",NaN,https://www.greenhorncafe.com/menu,NaN,NaN,$$
4,Vancouver,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,11,7,DmeNxtgASzdsMmWOLeB4Qw,d-oro-gelato-e-caffè-vancouver-6,D'oro Gelato e Caffè,...,Vancouver,V6E 1C1,CA,BC,"['1222 Robson Street', 'Vancouver, BC V6E 1C1'...",NaN,https://www.dorogc.com/menu/,NaN,NaN,$

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.